// ----------------------------------------------------------------Border Colours---------------------------------------------------------------//
.border-primary {
    border: 1px solid $primary !important;
}
.border-secondary {
    border: 1px solid $secondary !important;
}
.border-tertiary {
    border: 1px solid $tertiary !important;
}
.border-danger {
    border: 1px solid $danger !important;
}
.border-success {
    border: 1px solid $success !important;
}
.border-warning {
    border: 1px solid $warning !important;
}
.border-info {
    border: 1px solid $info !important;
}
.border-white {
    border: 1px solid $white !important;
}
.border-black {
    border: 1px solid $black !important;
}
.border-primary-2 {
    border: 2px solid $primary !important;
}
.border-secondary-2 {
    border: 2px solid $secondary !important;
}
.border-tertiary-2 {
    border: 2px solid $tertiary !important;
}
.border-white-2 {
    border: 2px solid $white !important;
}
.border-black-2 {
    border: 2px solid $black !important;
}
.border-primary-3 {
    border: 3px solid $primary !important;
}
.border-secondary-3 {
    border: 3px solid $secondary !important;
}
.border-tertiary-3 {
    border: 3px solid $tertiary !important;
}
.border-white-3 {
    border: 3px solid $white !important;
}
.border-black-3 {
    border: 3px solid $black !important;
}
.border-primary-4 {
    border: 4px solid $primary;
}
.border-secondary-4 {
    border: 4px solid $secondary;
}
.border-tertiary-4 {
    border: 4px solid $tertiary;
}
.border-white-4 {
    border: 4px solid $white;
}
.border-black-4 {
    border: 4px solid $black;
}
.border-primary-5 {
    border: 5px solid $primary;
}
.border-secondary-5 {
    border: 5px solid $secondary;
}
.border-tertiary-5 {
    border: 5px solid $tertiary;
}
.border-white-5 {
    border: 5px solid $white;
}
.border-black-5 {
    border: 5px solid $black;
}
.border-top,
.border-bottom,
.border-right,
.border-left {
    border-color: $border-color !important;
}
// ----------------------------------------------------------------Borders Styles---------------------------------------------------------------//
.border-0 {
    border: none !important;
}
.border-transparent {
    border-color: transparent !important;
}
