.fs-8 {
    font-size: $fs-8 !important;
}
.fs-10 {
    font-size: $fs-10 !important;
}
.fs-12 {
    font-size: $fs-12 !important;
}
.fs-14 {
    font-size: $fs-14 !important;
}
.fs-16 {
    font-size: $fs-16 !important;
}
.fs-18 {
    font-size: $fs-18 !important;
}
.fs-20 {
    font-size: $fs-20 !important;
}
.fs-22 {
    font-size: $fs-22 !important;
}
.fs-24 {
    font-size: $fs-24 !important;
}
.fs-30 {
    font-size: $fs-30 !important;
}
.fs-32 {
    font-size: $fs-32 !important;
}
.fs-36 {
    font-size: $fs-36 !important;
}
.fs-40 {
    font-size: $fs-40 !important;
}
.fs-48 {
    font-size: $fs-48 !important;
}
.fs-56 {
    font-size: $fs-56 !important;
}
.fs-64 {
    font-size: $fs-64 !important;
}
.fs-72 {
    font-size: $fs-72 !important;
}
.fs-80 {
    font-size: $fs-80 !important;
}
.fs-88 {
    font-size: $fs-88 !important;
}
.fs-90 {
    font-size: $fs-90 !important;
}
.fs-96 {
    font-size: $fs-96 !important;
}
.fs-100 {
    font-size: $fs-100 !important;
}
.fs-110 {
    font-size: $fs-110 !important;
}
@media screen and (max-width: 767px) {
    .fs-mob-8 {
        font-size: $fs-8 !important;
    }
    .fs-mob-10 {
        font-size: $fs-10 !important;
    }
    .fs-mob-12 {
        font-size: $fs-12 !important;
    }
    .fs-mob-14 {
        font-size: $fs-14 !important;
    }
    .fs-mob-16 {
        font-size: $fs-16 !important;
    }
    .fs-mob-18 {
        font-size: $fs-18 !important;
    }
    .fs-mob-20 {
        font-size: $fs-20 !important;
    }
    .fs-mob-22 {
        font-size: $fs-22 !important;
    }
    .fs-mob-24 {
        font-size: $fs-24 !important;
    }
    .fs-mob-30 {
        font-size: $fs-30 !important;
    }
    .fs-mob-32 {
        font-size: $fs-32 !important;
    }
    .fs-mob-36 {
        font-size: $fs-36 !important;
    }
    .fs-mob-40 {
        font-size: $fs-40 !important;
    }
    .fs-mob-48 {
        font-size: $fs-48 !important;
    }
    .fs-mob-56 {
        font-size: $fs-56 !important;
    }
    .fs-mob-64 {
        font-size: $fs-64 !important;
    }
    .fs-mob-72 {
        font-size: $fs-72 !important;
    }
    .fs-mob-80 {
        font-size: $fs-80 !important;
    }
    .fs-mob-88 {
        font-size: $fs-88 !important;
    }
    .fs-mob-90 {
        font-size: $fs-90 !important;
    }
    .fs-mob-96 {
        font-size: $fs-96 !important;
    }
    .fs-mob-100 {
        font-size: $fs-100 !important;
    }
    .fs-mob-110 {
        font-size: $fs-110 !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .fs-md-8 {
        font-size: $fs-8 !important;
    }
    .fs-md-10 {
        font-size: $fs-10 !important;
    }
    .fs-md-12 {
        font-size: $fs-12 !important;
    }
    .fs-md-14 {
        font-size: $fs-14 !important;
    }
    .fs-md-16 {
        font-size: $fs-16 !important;
    }
    .fs-md-18 {
        font-size: $fs-18 !important;
    }
    .fs-md-20 {
        font-size: $fs-20 !important;
    }
    .fs-md-22 {
        font-size: $fs-22 !important;
    }
    .fs-md-24 {
        font-size: $fs-24 !important;
    }
    .fs-md-30 {
        font-size: $fs-30 !important;
    }
    .fs-md-32 {
        font-size: $fs-32 !important;
    }
    .fs-md-36 {
        font-size: $fs-36 !important;
    }
    .fs-md-40 {
        font-size: $fs-40 !important;
    }
    .fs-md-48 {
        font-size: $fs-48 !important;
    }
    .fs-md-56 {
        font-size: $fs-56 !important;
    }
    .fs-md-64 {
        font-size: $fs-64 !important;
    }
    .fs-md-72 {
        font-size: $fs-72 !important;
    }
    .fs-md-80 {
        font-size: $fs-80 !important;
    }
    .fs-md-88 {
        font-size: $fs-88 !important;
    }
    .fs-md-90 {
        font-size: $fs-90 !important;
    }
    .fs-md-96 {
        font-size: $fs-96 !important;
    }
    .fs-md-100 {
        font-size: $fs-100 !important;
    }
    .fs-md-110 {
        font-size: $fs-110 !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .fs-lg-8 {
        font-size: $fs-8 !important;
    }
    .fs-lg-10 {
        font-size: $fs-10 !important;
    }
    .fs-lg-12 {
        font-size: $fs-12 !important;
    }
    .fs-lg-14 {
        font-size: $fs-14 !important;
    }
    .fs-lg-16 {
        font-size: $fs-16 !important;
    }
    .fs-lg-18 {
        font-size: $fs-18 !important;
    }
    .fs-lg-20 {
        font-size: $fs-20 !important;
    }
    .fs-lg-22 {
        font-size: $fs-22 !important;
    }
    .fs-lg-24 {
        font-size: $fs-24 !important;
    }
    .fs-lg-30 {
        font-size: $fs-30 !important;
    }
    .fs-lg-32 {
        font-size: $fs-32 !important;
    }
    .fs-lg-36 {
        font-size: $fs-36 !important;
    }
    .fs-lg-40 {
        font-size: $fs-40 !important;
    }
    .fs-lg-48 {
        font-size: $fs-48 !important;
    }
    .fs-lg-56 {
        font-size: $fs-56 !important;
    }
    .fs-lg-64 {
        font-size: $fs-64 !important;
    }
    .fs-lg-72 {
        font-size: $fs-72 !important;
    }
    .fs-lg-80 {
        font-size: $fs-80 !important;
    }
    .fs-lg-88 {
        font-size: $fs-88 !important;
    }
    .fs-lg-90 {
        font-size: $fs-90 !important;
    }
    .fs-lg-96 {
        font-size: $fs-96 !important;
    }
    .fs-lg-100 {
        font-size: $fs-100 !important;
    }
    .fs-lg-110 {
        font-size: $fs-110 !important;
    }
}
@media screen and (min-width: 1200px) {
    .fs-xl-8 {
        font-size: $fs-8 !important;
    }
    .fs-xl-10 {
        font-size: $fs-10 !important;
    }
    .fs-xl-12 {
        font-size: $fs-12 !important;
    }
    .fs-xl-14 {
        font-size: $fs-14 !important;
    }
    .fs-xl-16 {
        font-size: $fs-16 !important;
    }
    .fs-xl-18 {
        font-size: $fs-18 !important;
    }
    .fs-xl-20 {
        font-size: $fs-20 !important;
    }
    .fs-xl-22 {
        font-size: $fs-22 !important;
    }
    .fs-xl-24 {
        font-size: $fs-24 !important;
    }
    .fs-xl-30 {
        font-size: $fs-30 !important;
    }
    .fs-xl-32 {
        font-size: $fs-32 !important;
    }
    .fs-xl-36 {
        font-size: $fs-36 !important;
    }
    .fs-xl-40 {
        font-size: $fs-40 !important;
    }
    .fs-xl-48 {
        font-size: $fs-48 !important;
    }
    .fs-xl-56 {
        font-size: $fs-56 !important;
    }
    .fs-xl-64 {
        font-size: $fs-64 !important;
    }
    .fs-xl-72 {
        font-size: $fs-72 !important;
    }
    .fs-xl-80 {
        font-size: $fs-80 !important;
    }
    .fs-xl-88 {
        font-size: $fs-88 !important;
    }
    .fs-xl-90 {
        font-size: $fs-90 !important;
    }
    .fs-xl-96 {
        font-size: $fs-96 !important;
    }
    .fs-xl-100 {
        font-size: $fs-100 !important;
    }
    .fs-xl-110 {
        font-size: $fs-110 !important;
    }
}
